.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/838_gettyimages-1187372767.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 801px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 190px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 295px auto 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/f-min1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 952px;
}

.u-section-2 .u-group-1 {
  width: 535px;
  min-height: 836px;
  margin: 58px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 45px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 112px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 605px;
  min-height: 836px;
  margin: -836px 0 58px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 104px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 367px;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 11px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 11px 70px 0 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  margin: 29px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 395px;
}

.u-section-2 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 39px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 25px auto 0 0;
}

.u-section-2 .u-text-5 {
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  margin: 16px auto 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 384px;
}

.u-section-2 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-7 {
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 378px;
}

.u-section-2 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 104px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 441px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 499px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1421px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 345px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 345px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 11px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 1000px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 186px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 862px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 35px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 213px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 603px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 984px;
  margin: 25px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 553px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 80px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 45px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 47px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.875rem;
  font-weight: 600;
  border-style: solid;
  margin: 69px auto -23px 117px;
  padding: 16px 36px;
}

.u-section-3 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.875rem;
  font-weight: 600;
  border-style: solid;
  background-image: none;
  margin: -139px 211px 60px auto;
  padding: 16px 53px 16px 52px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 731px;
    margin-left: 105px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 23px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-btn-2 {
    padding-right: 72px;
    padding-left: 71px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-btn-2 {
    padding-right: 73px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 516px;
}

.u-section-4 .u-shape-1 {
  width: 467px;
  height: 415px;
  margin: 60px auto 0 166px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: -415px auto 41px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 467px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 69px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 467px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border-style: none;
  background-image: none;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 385px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-4 .u-shape-1 {
    width: 491px;
    height: 440px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: -25px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1014px;
  }

  .u-section-4 .u-shape-1 {
    width: 375px;
    height: 375px;
    margin-left: -35px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 321px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 900;
  margin: 60px 0;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 649px;
  }
}.u-section-6 {
  min-height: 787px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 382px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 340px;
  height: 340px;
  background-image: url("images/54e8d0434855aa14f6da8c7dda793678153bdee757596c48732e7bd69f4ecd5cb1_1280.jpg");
  background-position: 50% 50%;
  margin: -9px auto 0 109px;
}

.u-section-6 .u-group-1 {
  width: 646px;
  min-height: 250px;
  margin: -277px auto 0 484px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 6rem;
  font-family: "Courier New", monospace;
  margin: 16px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 8px;
  font-weight: 700;
  width: 150px;
  margin: 7px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 569px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 45px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 34px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 569px;
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 625px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 0;
  }

  .u-section-6 .u-group-1 {
    margin-top: -295px;
    margin-left: 334px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 236px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: -6px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 469px;
  }

  .u-section-6 .u-text-5 {
    margin-top: -386px;
    margin-right: 167px;
    margin-left: auto;
  }

  .u-section-6 .u-text-6 {
    margin-top: -136px;
    margin-right: -183px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 669px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-6 .u-image-1 {
    width: 250px;
    height: 250px;
  }

  .u-section-6 .u-group-1 {
    width: 539px;
    margin-top: -250px;
    margin-left: 221px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 156px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -86px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 119px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -56px;
    margin-right: -131px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 300px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 505px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    margin-left: auto;
  }

  .u-section-6 .u-group-1 {
    width: 520px;
    margin-top: -55px;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 276px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 34px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 322px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -176px;
    margin-right: -355px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 75px;
  }

  .u-section-6 .u-group-1 {
    width: 320px;
    margin-left: 50px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-6 .u-text-3 {
    margin-top: 232px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -162px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 198px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -52px;
    margin-right: -218px;
  }
}.u-section-7 {
  min-height: 791px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 361px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 340px;
  height: 340px;
  background-image: url("images/55e8d3474f55aa14f6da8c7dda793678153bdee757596c48732e7bd69f4ecc5abe_1280.jpg");
  background-position: 50% 50%;
  margin: -20px 86px 0 auto;
}

.u-section-7 .u-group-1 {
  width: 646px;
  min-height: 250px;
  margin: -269px auto 0 77px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 6rem;
  font-family: "Courier New", monospace;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 8px;
  font-weight: 700;
  margin: 7px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 428px;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 37px -9px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 428px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 21px auto 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 625px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 0;
  }

  .u-section-7 .u-group-1 {
    margin-left: 334px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -583px;
    margin-right: 107px;
    margin-left: auto;
  }

  .u-section-7 .u-text-4 {
    margin-top: 154px;
    margin-right: -202px;
    margin-left: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 353px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 113px;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 669px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-7 .u-image-1 {
    width: 250px;
    height: 250px;
  }

  .u-section-7 .u-group-1 {
    width: 539px;
    margin-top: -250px;
    margin-left: 221px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -523px;
    margin-right: 79px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 214px;
    margin-right: -150px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -123px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 657px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 505px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    margin-left: auto;
  }

  .u-section-7 .u-group-1 {
    width: 520px;
    margin-top: -55px;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-top: -563px;
    margin-right: 101px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 94px;
    margin-right: -191px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 0;
    margin-left: 75px;
  }

  .u-section-7 .u-group-1 {
    width: 320px;
    margin-left: 50px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-7 .u-text-3 {
    margin-top: -447px;
    margin-right: 62px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 138px;
    margin-right: -118px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -163px;
  }
}.u-section-8 {
  min-height: 690px;
}

.u-section-8 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 969px);
  background-image: none;
  left: 0;
  right: auto;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 55px auto;
}

.u-section-8 .u-image-1 {
  min-height: 610px;
  background-image: url("images/57e3d1434c56a514f6da8c7dda793678153bdee757596c48732f73dd9e44c258b9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 697px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-8 .u-line-1 {
  width: 69px;
  height: 9px;
  transform-origin: left center 0px;
  margin: 41px auto 0 0;
}

.u-section-8 .u-text-1 {
  font-size: 2.75rem;
  font-family: Oswald, sans-serif;
  margin: 22px 0 0;
}

.u-section-8 .u-icon-1 {
  height: 145px;
  width: 145px;
  margin: 30px 61px 0 auto;
}

.u-section-8 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: -143px auto 0 39px;
}

.u-section-8 .u-icon-3 {
  height: 66px;
  width: 64px;
  margin: 13px auto 0 41px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-family: "Fjalla One";
  font-size: 1.25rem;
  border-style: none;
  margin: 45px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 583px;
  }

  .u-section-8 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 808px);
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-image-1 {
    min-height: 503px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 575px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 415px;
  }

  .u-section-8 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 619px);
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-image-1 {
    min-height: 385px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-icon-1 {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 921px;
  }

  .u-section-8 .u-shape-1 {
    height: 716px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -661px;
  }

  .u-section-8 .u-image-1 {
    min-height: 456px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 867px;
  }

  .u-section-8 .u-shape-1 {
    height: 659px;
    width: auto;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -604px;
  }

  .u-section-8 .u-image-1 {
    min-height: 288px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }
}