.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1216px;
}

.u-section-1 .u-image-1 {
  min-height: 881px;
  background-image: url("images/55e1d1474957ad14f6da8c7dda793678153bdee757596c48732e7bd6904ac758bf_1280.jpg");
  background-position: 50% 50%;
  margin: 31px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px 575px 0 8px;
}

.u-section-1 .u-list-1 {
  width: 660px;
  min-height: 627px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  margin: -399px auto 60px 480px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  border-style: dashed;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-text-4 {
  text-transform: none;
  font-weight: normal;
  font-size: 2.25rem;
  letter-spacing: normal;
  margin: 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  border-style: dashed;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-1 .u-text-6 {
  text-transform: none;
  font-weight: normal;
  font-size: 2.25rem;
  letter-spacing: normal;
  margin: 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  border-style: dashed;
  margin: 30px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-right: 383px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-top: -326px;
    margin-left: 280px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 163px;
  }

  .u-section-1 .u-list-1 {
    width: 591px;
    min-height: 599px;
    margin-top: -447px;
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 23px;
  }

  .u-section-1 .u-list-1 {
    width: 480px;
    margin-top: -356px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 951px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    min-height: 685px;
    width: 297px;
    margin-top: -480px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-group-1 {
  min-height: 500px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1.4;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-group-1 {
  min-height: 500px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1.4;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-group-1 {
  min-height: 500px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1.4;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }
}