.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 452px;
  margin: 76px 0 0 577px;
}

.u-section-1 .u-shape-1 {
  width: 536px;
  height: 329px;
  background-image: none;
  margin: -294px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 546px;
  min-height: 356px;
  margin: -487px auto 0 31px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 82px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-top: 27px;
    margin-left: 377px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -358px;
  }

  .u-section-1 .u-group-1 {
    width: 465px;
    margin-left: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: 135px;
    margin-left: 157px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -466px;
  }

  .u-section-1 .u-group-1 {
    width: 372px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 471px;
    height: 337px;
    margin-top: -427px;
    margin-left: 4px;
  }

  .u-section-1 .u-group-1 {
    width: 491px;
    margin-top: -374px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: 231px;
  }

  .u-section-1 .u-shape-1 {
    height: 326px;
    width: 296px;
    margin-top: -656px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 316px;
    margin-top: -358px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}